body {
  background-color: #4ce0cc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

h3 {
  font-family: 'Sedgwick Ave', cursive;
  font-weight: bold;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  Navbar {
    width: 320px;
  }
}