body {
  background-color: #4ce0cc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Quicksand', sans-serif;
}

